.green {
    color: #4aa863
}

#toplevel_page_stop_spammers .wp-menu-image img, #oam_toplevel_page_stop_spammers .wp-menu-image {
    max-height: 20px;
    padding: 7px 0 0
}

#ss-plugin * {
    box-sizing: border-box
}

#ss-plugin textarea, #ss-plugin input[type="text"] {
    width: 100%;
    max-width: 500px
}

#ss-plugin img {
    margin-right: 5px
}

#ss-plugin input[type="text"] {
    max-width: 400px
}

#ss-plugin fieldset {
    width: 100%;
    padding: 15px;
    border: 1px solid #4aa863;
    margin: 30px 0 0
}

#ss-plugin .phpinfodisplay table {
    width: 100%
}

#ss-plugin td {
    padding: 10px
}

#ss-plugin .stat-box {
    padding: 5px 10px;
    border: 1px solid #4aa863;
    margin: 5px;
    float: left
}

.ss-plugin-remark {
	font-style:italic;
	font-size: 12px;
	margin-top: 4;
	padding-bottom: 4;
}

/*	EN: new fork start here. if want old style - delete all below 
	здесь начинается модификация [729]jetsam. Если хотите старый стиль 
		- просто удалите все, что ниже
*/

.ss-set-alt{
	min-width:480px;
	max-width:800px;
}


.ss-set-alt fieldset{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-style: solid;
	border-top-width: 1px;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	box-shadow: 4px 1px 4px rgba(0,0,0,0.2);
}
.ss-set-alt .button-primary{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 4px 1px 4px rgba(0,0,0,0.4);
}
.ss-set-alt legend{
	padding: 5px;
	border: 0;
}

.ss-set-alt-lrep{
}
